.all-song-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 2rem;
    padding: 2rem 7rem;
    align-items: center;
}
.allSongs{
    background-color: #f5f5f5;
    header{
        display: flex;
        justify-content: space-between;
        margin: 1rem;
    }
}