.categorizedSong{
    background-color: #f5f5f5;
    header{
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        button{
            border:none;
        }
    }
}
.groupByGenre{
    h1{
        display: flex;
        width: 7rem;
        font-size: x-large;
        color: white;
        border-radius: 25px;
        background-color: #4c63aa;
        position: relative;
        top:7rem;
        left: 5rem;
    }
}