.landingPage {
  font-size: x-large;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  button {
    font-size: x-large;
    color: white;
    border-radius: 25px;
    background-color: #4c63aa;
    width: 8rem;
    height: 3rem;
    border: none;
  }
}
